.inputNextUi div div{
    min-height: 35px !important;
    height: 45px !important;
}
.inputNextUi{
    border-radius: 7px !important;
}
.inputNextUi div{
    border-radius: 7px !important;
}
.inputNextUi div div{
    border-radius: 7px !important;
}



/* Tabs */
.TabContainerNextUI div{
    height: 100%;
}

.TabNextUI2 span{
    height: 3px !important;
}


/* label */
.labelRight div div label {
    right: 0 !important;
    left: none !important;
}
.labelRight div div div {
padding: 0 10px !important;
border-radius: 10px;
}
.labelRight div div {
    background-color: rgb(237, 237, 237);
    border: 1px solid rgb(205, 205, 205) !important;
padding: 0 !important;
}
.labelRight div div div {
    border:  none !important;
}

