.slick-track > div  {
   /* margin: 10px; */
 /* margin: 0 10px ; */
}
.slick-list{
  max-height: 500px;
}


/* Blog */
.custom-container img {
  max-height: 400px;
  max-width: 100%;
  border-radius: 8px;
}

@media (min-width: 1024px) {
  .custom-container img {
    max-width: 600px;
  }
}
.product-image {
  position: relative;
  display: inline-block;
  overflow: hidden; /* پنهان کردن قسمت‌های بزرگ‌تر از تصویر */
  width: 100%; /* تنظیم عرض تصویر */
  height: auto; /* تنظیم ارتفاع به صورت خودکار */
}

.zoom-image {
  transition: transform 0.4s ease; /* افکت نرم برای انتقال */
  width: 100%; /* عرض تصویر اصلی */
  height: auto; /* ارتفاع تصویر اصلی */
}

/* modal Gallery */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}


