.bg-banner {
    transform: translateX(200px) rotate(-70deg);
}

/* .marginCarousel > div{
padding-right: 4px;
}

.marginCarousel{
padding-right: 4px;

}
.slick-list{
padding-right: 4px !important;

} */